{% extends 'base.html.twig' %}

{% block title %}Mute - create{% endblock %}

{% block body %}
    <h2>Add mute</h2>

    <div class="row mb-4">
        <h5>Please read before you create your first mute</h5><br/>
        <a href="{{ path('guide_content', { 'identifier': 'guide_index'}) }}#mutes">Guidebook</a>
    </div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ include('_problematic_user_modal.html.twig') }}
    <div class="row">
        <div class="col-12 col-md-6">
                {{ form_row(form.channel) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.username) }}

            {{ form_row(form.reason) }}
            {{ form_row(form.duration) }}
            {{ form_row(form.informChatroom) }}
            {% if app.user.isAdmin %}
                {{ form_row(form.informTeam) }}
            {% endif %}

            <div>
                <button class="btn btn-success mt-4 btn-disable-click">Mute user</button>
                {% if form.vars.errors|length >= 1 %}
                    {% set shown = false %}
                    {% for error in form.vars.errors %}
                        {% if error.message == constant('App\\Form\\Validation\\ProblematicUserValidator::ERROR_MESSAGE') and not shown %}
                            {% set shown = true %}
                            <button type="button" class="btn btn-warning mt-4" id="problematicConfirmSubmit">Force send!</button>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}