{% extends 'base.html.twig' %}

{% block title %}Update password{% endblock %}

{% block body %}
    <h2 class="mb-4">Update password</h2>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-12 col-md-6">
            {{ form_row(form.currentPassword) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            {{ form_row(form.newPassword) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.newPasswordAgain) }}
        </div>
    </div>
    <button class="btn btn-lg btn-primary mt-4 btn-disable-click">Save</button>
    {{ form_end(form) }}
{% endblock %}